/TravellingSalesman.class
/Dictionary.class
/School.class
/TravellingSalesman$1.class
/TravellingSalesman$2.class
/PQSchool.class
/SchoolComparator.class
/SchoolRouteVisualiser.class
/SchoolRouteVisualiser$1.class
